swagger: '2.0'
info:
  description: |
    This documentation is still work in process.
  version: 1.0.0
  title: WavierForever Open API
  termsOfService: 'https://www.waiverforever.com/terms'
  contact:
    email: mobile@waiverforever.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.waiverforever.com
basePath: /openapi/v1
tags:
  - name: auth
    description: Test authentication
  - name: webhooks
    description: How WaiverForever sending out data
  - name: template
    description: Access templates and waivers
schemes:
  - https
paths:
  /auth/ping:
    get:
      tags:
        - auth
      summary: Test if the api key is valid
      operationId: authPing
      produces:
       - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              user:
                type: string
              
        '403':
          description: Invalid api key
      
  /webhooks/subscribeEvent:
    post:
      tags:
        - webhooks
      summary: Subscribe an event.
      description: >-
        Subscribe an event you care about, and WaiverForever will call you back
        when certain it occurred.
      operationId: subscribeEvent
      produces:
        - application/json
      parameters:
        - in: body
          name: event
          description: Event that you're interested.
          schema:
            type: object
            required:
              - event
              - target_url
            properties:
              event:
                type: string
              target_url:
                type: string
      responses:
        '200':
          description: Successful request
          schema:
            $ref: '#/definitions/Response'
        '403':
          description: Invalid api key
  /webhooks/unsubscribeEvent:
    post:
      tags:
        - webhooks
      summary: Unsubscribe an event.
      description: Unsubscribe an event.
      operationId: unsubscribeEvent
      produces:
        - application/json
      parameters:
        - in: body
          name: event
          description: Event that you're not interested any more.
          schema:
            type: object
            required:
              - event
              - target_url
            properties:
              event:
                type: string
              target_url:
                type: string
      responses:
        '200':
          description: Successful request
          schema:
            $ref: '#/definitions/Response'
        '403':
          description: Invalid api key
  /template:
    get:
      tags:
        - template
      summary: Get all waiver templates.
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              result:
                type: boolean
              msg:
                type: string
              data:
                type: array
                items:
                  $ref: '#/definitions/Template'
        '403':
          description: Invalid api key
      security:
        - api_key: []
  /template/{template_id}/sampleWaiver:
    get:
      tags:
        - template
      summary: Get a sample waiver from specified template id
      operationId: getSampleWaiverById
      produces:
        - application/json
      parameters:
        - name: template_id
          in: path
          description: template id
          required: true
          type: string
      responses:
        '200':
          description: Successful request
          schema:
            type: object
            properties:
              result:
                type: boolean
              msg:
                type: string
              data:
                $ref: '#/definitions/Waiver'
        '403':
          description: Invalid api key
        '404':
          description: Template not found
      security:
        - api_key: []
  /template/{template_id}/requestWaiver:
    post:
      tags:
        - template
      summary: Request a waiver to sign
      operationId: requestWaiver
      produces:
        - application/json
      parameters:
        - name: template_id
          in: path
          description: template id
          required: true
          type: string
      responses:
        '200':
          description: Successful request
          schema:
            type: object
            properties:
              result:
                type: boolean
              msg:
                type: string
              data:
                type: object
                properties:
                  tracking_id:
                    type: string
        '403':
          description: Invalid api key
        '404':
          description: Template not found
    
securityDefinitions:
  api_key:
    type: apiKey
    name: X-API-Key
    in: header
definitions:
  Response:
    type: object
    properties:
      result:
        type: boolean
      msg:
        type: string
  Template:
    type: object
    properties:
      title:
        type: string
      id:
        type: string
      disabled:
        type: boolean
      created_at:
        type: integer
      update_at:
        type: integer
  Waiver:
    type: object
    description: Tailored Waiver
    properties:
      waiver_id:
        type: string
      template_id:
        type: string
      template_version:
        type: string
      template_title:
        type: string
      has_pdf:
        type: boolean
      geolocation:
        $ref: '#/definitions/GeoLocation'
      pictures:
        type: array
        items:
          $ref: '#/definitions/Picture'
      received_at:
        type: integer
        format: date-time
      signed_at:
        type: integer
        format: date-time
      data:
        type: array
        items:
          $ref: '#/definitions/Field'
  Field:
    type: object
    description: Abstract Field
    properties:
      title:
        type: string
      type:
        type: string
      value:
        type: string
        enum:
          - name_field
          - address_field
          - email_field
          - phone_field
          - age_field
          - date_field
          - checkbox_field
          - short_answer_field
          - single_choice_field
          - multiple_choice_field
          - initial_field
          - container_field
  Picture:
    type: object
    properties:
      title:
        type: string
      url:
        type: string
        description: temporary picture url
      timestamp:
        type: integer
        format: date-time
  GeoLocation:
    type: object
    properties:
      accuracy:
        type: integer
      latitude:
        type: string
      longtitude:
        type: string
externalDocs:
  description: Find out more about WaiverForever
  url: 'https://www.waiverforever.com'
